*.swp
*.swo
.DS_Store
vim/.netrwhist
vim/backup
vim/backups
vim/bundle
vim/bundle/*.*
vim/plugin
vim/plugin/*.*
vim/autoload/*.*
vim/plugged/*.*
vim/plugged
.yarn/cache/*.*
base16.rb
vimrc.test_runners
bin/op
vim/pack
config/kitty/themes/*.*
node_modules/
